<div class="row">
  <form class="col-md-4 col-md-offset-4 clearfix" id="login">
    <div class="form-group clearfix">
      <label for="email">Email address</label>
      <input type="email" class="form-control" id="email" name="email" placeholder="Email" value="">
    </div>
    <div class="form-group clearfix">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" name="password" placeholder="Password">
    </div>
    <div class="form-group clearfix">
      <a href="/forgotten-password" class="forgotten-password-link pull-right">Forgotten Password</a>
    </div>
    <button type="submit" class="btn btn-success pull-right login-button">Login</button>
  </form>
</div>
